<h4>INSTRUCTIONS</h4>
<ol>
    <li>Add an input field wich update the property "username" with the two-way databinding.</li>
    <li>Output the "username" property below the input field using string interpolation</li>
    <li>Add a button only enabled if the "username" is not an empty string</li>
    <li>Upon clicking the button the "username" should be reset to an empty string</li>
</ol>
<h4>RESULTS</h4>
<!--TODO: Esercizio-->
<input type="text" class="form-control" [(ngModel)]="username"/>
<br>
<button class="btn btn-primary" [disabled]="username === ''" (click)="onCreateUsername()">Add Username</button>
<br>
<br>
{{newUsername}}
<hr>